$-color-1: #c471ed;
$-color-2: #4a4a4a;

.about__container {
  width: 100%;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  position: relative;
  border-bottom: 1px solid white;
  overflow: hidden;
  .box1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;

    h3 {
      color: white;
      font-size: 2.7rem;
    }

    p {
      font-size: 1.4rem;
      color: white;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;

    .icons {
      display: flex;
      gap: 10px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .icon {
          display: flex;
          align-items: center;
          gap: 10px;

          .image_container {
            img {
                display: inline;
                width: 50px;
                background-color: #4a4a4a;
                padding: 10px 10px;
                border-radius: 50%;
            }
          }

          small {
            font-size: 1.3rem;
            color: white;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          .image_container {
            img {
                display: inline;
                width: 50px;
                background-color: #4a4a4a;
                padding: 10px 10px;
                border-radius: 50%;
            }
          }

          small {
            font-size: 1.3rem;
            color: white;
          }
        }
      }
    }

    .end__container {
        padding: 10px;
        background-color: #c471ed;
        border-radius: 3px;
        p {
            font-size: 1.4rem;
            color: white;
        }
    }
  }
}

@media (max-width: 900px) {
  .about__container {
    .box1 {
      width: 250px;
    }
    .box {
      width: 250px;
    }
  }
}

@media (max-width: 600px) {
  .about__container {
    .box {
      width: 100%;

      .icons {

      }
    }
    .box1 {
      display: none;
    }
  }
}