.footer__container {
  width: 100%;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;

  .image__container {
    img {
      width: 300px;
    }
  }

  .text__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      color: white;
      font-size: 2.5rem;
    }

    p {
      color: white;
      font-size: 1rem;
    }

    button {
      background: linear-gradient(
        90deg,
        #12c2e9 -15.84%,
        #c471ed 53.22%,
        #f64f59 122.28%
      );
      border-radius: 4px;
      color: white;
    }
  }
}

@media (max-width : 570px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}